Proposal amendments to (missing) Section 8 (CMS) v. 2

@ounsworth @janklaussner @johngray-dev 

Issue #135 concerns version 4 composite-signs, hence it is outdated and should be closed. That issue is an updated version of the deleted chapter 8 on CMS, but includes mechanisms appropriate for version 7.
I hope it will be useful for the authors of "Composite ML-DSA in the CMS".

1. CMS (SignedData) structures contain different values depending on whether signed attributes are present (the typical case) or absent. 
2. In the absence of signed attributes one of the hash function: SHA256, SHA512 or SHAKE256/512 is used to calculate PH(M) and the creation of M'. Message M is contained in the SignedData.encapContentInfo.eContent OCTET STRING (without the tag and the length octets – see the first paragraph in Section 5.4 RFC 5652) field. The ML-DSA component does not use any additional "external" hash function (in CMS we use PURE mode only), and only the traditional component uses it towards M’. 
3. In case of signed attributes, the message digest of the eContent field is generated in the first step and it is the value of the messageDigest attribute. Then a message M is created from the signedAttrs field, including the tag and the length octets. In the next step, a message M' is created, which among other things contains the element PH(M), which is a digest of the message M, created using one of the digest functions, similarly as when the absence of signed attributes. According to Section 11.2 of RFC 5652, the hash function specified in the SignerInfo.digestAlgorithm field MUST be used.
4. The ML-DSA component computes a signature of the message M’ using its “internal” digest function (PURE mode). The traditional component computes a digest of the message M’ using “their” digest function, and then signs the data. According to RFC 8933 RSA and ECDSA algorithms use the same digest function, while EdDSA uses "internal" digest functions. It should be added that according to section 3.2 of RFC 8419, the algorithms: Ed25519 and Ed448 use the SHA512 and SHAKE256 hash functions respectively, but these hash functions are used as part of the private key signing operation (these are not "external" hash functions, although their identifiers are placed in the digestAlgorithm field of the SignerInfo sequence – see Table 2 below).
5. I would like to point out that in the case of RSA and ECDSA there is an inconsistency with RFC 8933 for the following compositions:
•	id-MLDSA65-RSA3072-PSS-SHA512,
•	id-MLDSA65-RSA3072-PKCS15-SHA512,
•	id-MLDSA65-RSA4096-PSS-SHA512,
•	id-MLDSA65-RSA4096-PKCS15-SHA512,
•	id-MLDSA65-ECDSA-P256-SHA512,
•	id-MLDSA65-ECDSA-P384-SHA512,
•	id-MLDSA65-ECDSA-brainpoolP256r1-SHA512,
•	id-MLDSA87-ECDSA-P384-SHA512,
•	id-MLDSA87-ECDSA-brainpoolP384r1-SHA512,
•	id-MLDSA87-RSA3072-PSS-SHA512,
•	id-MLDSA87-RSA4096-PSS-SHA512.
Although the appropriate hash algorithms would be clearly specified in the “Composite ML-DSA in the CMS”, so "algorithm substitution attack", which was the reason for the clarification in RFC 8933, is not possible.
6. In the SignedData structure, in the SignerInfo sequence, the digestAlgorithm field indicates the hash function used in the given electronic signature scheme – see section 5.3 of RFC 5652. In the case of composite signatures, there is a problem with using a single digestAlgorithm field to indicate - usually - two different hash functions: for the generation of PH(M) and for the traditional algorithm.
7. It is essential to maintain compliance of “Composite ML-DSA in the CMS” with the relevant CMS standardization documents for individual components (algorithms): RFC 5753 (ECDSA), RFC 8419 (Ed25519/Ed448), RFC 5652/RFC 8933 and RFC 8017 (RSA-PKCS15 and RSA-PSS (although without RSASSA-PSS-params) and draft-ietf-lamps-cms-ml-dsa-05 (ML-DSA):
Table 1: SignedData.digestAlgorithms field in accordance with standards
<img width="945" height="188" alt="Image" src="https://github.com/user-attachments/assets/ea68fada-99a3-4623-8c9c-4b1c6f500078" />

Table 2: SignerInfo.digestAlgorithm field in accordance with standards
<img width="945" height="495" alt="Image" src="https://github.com/user-attachments/assets/d3c521b0-55c2-4d8e-898b-fa86a45c8999" />
8. In my opinion, in “Composite ML-DSA in the CMS” we should:
•	SignedData.digestAlgorithms field – leave the general reference to RFC 5652 (i.e. optionally the set of algorithms), but with the recommendation to include the hashing algorithms when filling this field: for calculating messageDigest attribute (in case of signed attributes exist), PH(M) and the algorithm used by the traditional component, if they are different.
•	SignerInfo.digestAlgorithm field – place the algorithm from the “Pre-Hash” column in Table 2: ML-DSA Composite Signature Algorithms for calculating messageDigest attribute (in case of signed attributes exist) and PH(M), specifying that in the case of the traditional component, the hashing function used is indicated indirectly using “Trad” column in this Table 2.
9. The tables below contain relevant clarifications:
<img width="945" height="853" alt="Image" src="https://github.com/user-attachments/assets/7ee742f3-50c1-45f2-8ac0-9a22dab8076f" />
<img width="945" height="919" alt="Image" src="https://github.com/user-attachments/assets/567689c5-bd7b-4764-b4fb-b1f2f3fff16d" />
10. To summarize, my proposal for the deleted chapter 8 "Use in CMS" is as follows:
(I hope it will be useful for the authors of "Composite ML-DSA in the CMS")
8. Use in CMS
   Composite Signature algorithms MAY be employed for one or more
   recipients in the CMS signed-data content type [RFC5652].

   All recommendations for using Composite ML-DSA in CMS are fully
   aligned with the use of ML-DSA in CMS [I-D.ietf-lamps-cms-ml-dsa].

8.1.  Underlying Components

This specification does not list any particular composite algorithm as mandatory-to-implement, however organizations that operate within specific application domains are encouraged to define profiles that select a small number of composites appropriate for that application domain. For applications that do not have any regulatory requirements or legacy implementations to consider, it is RECOMMENDED to focus implementation effort on:
id-MLDSA65-ECDSA-P256-SHA512

In applications that require RSA, it is RECOMMENDED to focus implementation effort on:
id-MLDSA65-RSA3072-PSS-SHA512

In applications that only allow NIST PQC Level 5, it is RECOMMENDED to focus implementation effort on:
id-MLDSA87-ECDSA-P384-SHA512  

8.2.  SignedData Conventions

   As specified in CMS [RFC5652], the digital signature is produced from
   the message digest and the signer's private key.  The signature is
   computed over different values depending on whether signed attributes
   are absent or present.

   When signed attributes are absent, the composite signature is
   computed over the content of the signed-data.  The "content" of a
   signed-data is the value of the encapContentInfo eContent OCTET
   STRING.  The tag and length octets are not included.  When signed
   attributes are present, a hash is computed over the content using one of the following 
   hash function: SHA256, SHA512 or SHAKE256/512, and then a message-digest
   attribute is constructed to contain the resulting hash value, and
   then the result of DER encoding the set of signed attributes, which
   MUST include at least a content-type attribute and a message-digest attribute,
   and then the composite signature is computed over the DER-encoded
   output.  In summary:

   IF (signed attributes are absent)
      THEN Composite-ML-DSA.Sign(content)
   ELSE message-digest attribute = Hash(content);
      Composite-ML-DSA.Sign(DER(SignedAttributes))

  When using Composite Signatures, the SignedData.digestAlgorithms field
  includes the identifiers of the digest algorithms used by one or more signer.
  There MAY be any number of elements in the collection, including zero.  When
   signing with Composite Signatures, that field SHOULD include OID’s of the
   algorithms for calculating messageDigest attribute (in case of signed attributes
   exist), PH(M) and the algorithm used by the traditional component, if they are
   different,  and if present, the algorithm parameters field MUST be absent.  

  When using Composite Signatures, the fields in the SignerInfo are
   used as follows:

   digestAlgorithm: Per Section 5.3 of [RFC5652], the digestAlgorithm
   contains the one-way hash function used by the CMS signer.  In case of composite
   signatures that field contains hash function from the “Pre-Hash” column in Table 2: 
   ML-DSA Composite Signature Algorithms [draft-ietf-lamps-pq-composite-sigs-07] 
   for calculating messageDigest attribute (in case of signed attributes exist) and for 
   calculating PH(M), i.e. hash of the eContent when signed attributes are absent or
   hash of the signedAttrs when signed attributes are present. It should be emphasized
   that in the case of the traditional component, the hashing function used is indicated
   indirectly using “Trad” column in this Table 2 [draft-ietf-lamps-pq-composite-sigs-07].
Note: in the case of RSA and ECDSA algorithms there is an inconsistency with RFC 8933 (i.e. a different hash function is used to calculate the messageDigest attribute and a different one to implement the signature), for the following compositions:
•	id-MLDSA65-RSA3072-PSS-SHA512,
•	id-MLDSA65-RSA3072-PKCS15-SHA512,
•	id-MLDSA65-RSA4096-PSS-SHA512,
•	id-MLDSA65-RSA4096-PKCS15-SHA512,
•	id-MLDSA65-ECDSA-P256-SHA512,
•	id-MLDSA65-ECDSA-P384-SHA512,
•	id-MLDSA65-ECDSA-brainpoolP256r1-SHA512,
•	id-MLDSA87-ECDSA-P384-SHA512,
•	id-MLDSA87-ECDSA-brainpoolP384r1-SHA512,
•	id-MLDSA87-RSA3072-PSS-SHA512,
•	id-MLDSA87-RSA4096-PSS-SHA512.
Although the appropriate hash algorithms are clearly specified in this specification, so "algorithm substitution attack”, which was the reason for the clarification in RFC 8933, is not possible – all hash functions are considered safe.

   signatureAlgorithm: The signatureAlgorithm MUST contain one of the
   the composite signature algorithm identifier as specified in the “OID”
   column in Table 2: ML-DSA Composite Signature Algorithms [draft-ietf
   -lamps-pq-composite-sigs-07] .

   signature: The signature field contains the signature value resulting
   from the composite signing operation of the specified signatureAlgorithm.

The following tables provide relevant explanations regarding the hash function:
(…)
Table x
(...)
Table y

8.3.  Signature generation and verification

   Composite signatures have a context string input that can be used to
   ensure that different signatures are generated for different
   application contexts.  When using composite signatures for CMS, the
   context string used for generation M’ is the empty string, but for generation
   ML-DSA component signature is always set to parameter “Domain”.






> Hi All
> It would be clear which hash function we are using to compute PH(M) and which one to compute M'. Furthermore, the note about tables explains how to treat hash functions when used with EdDSA.

This is an internal detail of Composite ML-DSA, which should be clear in draft-ietf-lamps-pq-composite-sigs, not added to cms-composite-sigs.

I have done a rewrite of cms-composite-sigs which I believe makes clear the algorithms relevant for CMS.  It isn't published yet, but should be after the co-authors review what's in github.

> Indeed, these tables were based on some tables from draft-composite-sigs, which in later versions changed the description to bullet points. I find the tables more readable.

When there are a limited number of columns the table is more readable, but each composite ML-DSA algorithm has several components, including digest algorithms, associated with it which should all be presented together.  This was more information than could fit in a table.  If you have suggestions for how to present this information more clearly in draft-ietf-lamps-pq-composite-sigs while still keeping the relevant info together, you can comment on draft-ietf-lamps-pq-composite-sigs.

> 
> Regards - Piotr Popis
